body{

  background-image:url(https://waspnx.files.wordpress.com/2015/09/2013-01-18-21-13-121.jpg);
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  position: relative;
}

.container{
  width: 450px;
  height:271px;
  border: 1px solid black;
  overflow: hidden;
  font-family: 'Bangers', cursive;
  background-image: url(https://waspnx.files.wordpress.com/2015/10/2013-01-18-21-13-122.jpg);
  background-size: 70%;
  border-top: none;
  box-shadow: 1px 5px 10px black;
  margin: 200px auto;
}

a{
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 5px #CFD6DB;
}

a:hover{
  text-shadow: 1px 1px 5px #9D1C0D;
}

h1{
 width: 100%;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 border-right: 1px solid black;
 margin: 0;
 padding-left: 10px;
}


h1:hover{
  background-image:url(https://waspnx.files.wordpress.com/2015/10/img_5950-copy.jpg);
  background-size: 35%;
  background-position: right;
  background-color: white;
  background-repeat: no-repeat;
}

p{
font-family: 'Oswald', sans-serif;
padding-left: 10px;
max-height: 80%;
overflow: scroll;
}

.sectionOne, .sectionTwo, .sectionThree{
height: 35px;
overflow: hidden;
transition: height 1s, ;
max-width: 100%;
}


footer{
 text-decoration: none;
 color:#CBB154;
 font-family: 'Bangers', sans-serif;
 height: 100px;
 background-color: black;
 width: 100%;
 text-align: center;
 vertical-align: middle;
 font-size: 6em;
 border-top: 5px solid #CFD6DB;
}

footer a{
  position: absolute;
  text-shadow: 1px 1px 5px #E2DC6D;
  z-index: 2;
  right:40%;
  left: 40%;
}

footer a:hover{
  color: white;
}

.line{
  border:1px solid #CFD6DB;
  width: 100%;
  height:1px;
  background-color:#CFD6DB;
  position: absolute;
  z-index: 1;
  bottom: 20px;
}


.expand{
  height: 200px;
  max-width: 100%;
 }
