.container{
  width: 500px;
  height:285px;
  border: 1px solid black;
  overflow: hidden;
  font-family: 'Mr Dafoe', cursive;
  background-image: url(https://waspnx.files.wordpress.com/2015/10/2013-01-18-21-13-122.jpg);
  background-size: 70%;
  border-top: none;
  box-shadow: 1px 5px 10px red;
}

a{
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 5px red;
}

h1{
 width: 100%;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 margin: 0;
}


h1:hover{
  background-color: #CFD6DB;
}

.sectionOne, .sectionTwo, .sectionThree{
height: 39px;
overflow: hidden;
transition: height 1s, ;
}


.expand{
  height: 200px;
  overflow: hidden;
}
